<div style="text-align: center" class="col-sm">
<!--    <h2>GET ID CHANNEL</h2>-->
<!--    <br/>-->
<!--    <div class="alert alert-success" role="alert">-->
<!--        Lấy id channel thành công.-->
<!--        <a href="https://www.youtube.com/channel/{{response.authorId}}">Link channel</a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>Tên kênh: {{response.author}}</p>-->
<!--        <p>Người đăng ký: {{response.subscriberCount}}</p>-->
    <div class="card text-center">
        <div class="card-header">
            Lấy thông tin thành công
        </div>
        <div class="card-body">
            <h5 class="card-title">Tên kênh: {{response.author}}</h5>
            <p class="card-text">{{response.subscriberCount}} người đăng ký</p>
            <a href="https://www.youtube.com/channel/{{response.authorId}}" class="btn btn-primary">Go</a>
        </div>
<!--        <div class="card-footer text-muted">-->
<!--            2 days ago-->
<!--        </div>-->
    </div>
    <br/>
    <div class="input-group mb-3">
        <input type="text" value="{{response.authorId}}" id="myInput" class="form-control" placeholder="Link channel" disabled>
    </div>
    <button onclick="myFunction()" class="btn btn-success">Copy ID</button>
    <a href="/" class="btn btn-primary">Home</a>
    <script>
        function myFunction() {
            // Get the text field
            var copyText = document.getElementById("myInput");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
</div>