<div style="text-align: center" class="col-sm-12">
<!--    <h2>GET ID CHANNEL</h2>-->
<!--    <br/>-->
<!--    <div class="alert alert-success" role="alert">-->
<!--        Lấy id channel thành công.-->
<!--        <a href="https://www.youtube.com/channel/{{response.authorId}}">Link channel</a>-->
<!--    </div>-->
<!--    <div>-->
<!--        <p>Tên kênh: {{response.author}}</p>-->
<!--        <p>Người đăng ký: {{response.subscriberCount}}</p>-->
    <div class="card text-center bg-warning">
        <div class="card-header">
            Lấy thông tin thành công
        </div>
        <div class="card-body">
            <h5 class="card-title">Tên kênh: {{response.author}}</h5>
            <div class="d-flex justify-content-center">
                <p class="card-text" id="myInput2">{{response.subscriberCount}}</p>
                <p class="card-text" style="margin-left: 5px">người đăng ký</p>
            </div>
            <a href="https://www.youtube.com/channel/{{response.authorId}}" class="btn btn-warning">Go</a>
<!--            <button onclick="myFunction2()" class="btn btn-success">Copy Sub Count</button>-->
        </div>
<!--        <div class="card-footer text-muted">-->
<!--            2 days ago-->
<!--        </div>-->
    </div>
    <br/>
    <div class="input-group mb-3">
        <input type="text" value="{{response.authorId}}" id="myInput" class="form-control" placeholder="Link channel" disabled>
    </div>
    <div class="input-group mb-3">
        <input type="text" value="https://www.youtube.com/channel/{{response.authorId}}" class="form-control" placeholder="Link channel" disabled>
    </div>
    <button onclick="myFunction()" class="btn btn-success">Copy ID</button>
    <a href="/" class="btn btn-warning">Back</a>

    </div>
    <script>
        function myFunction() {
            // Get the text field
            var copyText = document.getElementById("myInput");
            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices
            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);
        }

    </script>
</div>